@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Proxima Nova", system-ui, sans-serif;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1c1c1c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #292929;
  border-radius: 10px;
  border: 3px solid #292929;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Paragraph 3 line rule */

.truncate-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
